<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shipment By SAP ERROR</title>
</head>

<body>
    <!--    <button>
            <a href="/">
            Вернутся в основное меню
            </a> 
        </button> -->
    <section>
        <h2 style="background-color:Tomato;">
            <p>Сообщение об ошибке</p>
            <p>Не верно введен № SAP</p>
            <p>Повторите ввод</p>
        </h2>
    </section>
    <p></p>
    <button>
        <a href="/shipmentbysap">
            <h3>Вернуться к отчету по отгрузке</h3>
        </a>
    </button>
</body>

</html>