{{define "header"}}
<h1 class="mb-0">Welcome to StarLine</h1>
<!--<h4 class="mb-1">
    <div class="navbar">
        <!--    <a href="#"></a>
<a href="#"></a>-->
<nav class="navbar dropdown">
    {{ if eq .admin true}}
    <button class="dropbtn">Логистика
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/shipmentbysap">Отчет по отгрузке SAP</a>
        <a href="/showdateshipmentbysapbysearchstatic">Отчет по отгрузке SAP по поиску
            Static</a>
        <a href="/insertIDReturn">Пересчет ЕО с возвратом</a>
    </div>
    {{ else if eq .stockkeeper true}}
    <button class="dropbtn">Логистика
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/shipmentbysap">Отчет по отгрузке SAP</a>
        <a href="/showdateshipmentbysapbysearchstatic">Отчет по отгрузке SAP по поиск
            Static</a>
        <a href="/insertIDReturn">Пересчет ЕО с возвратом</a>
    </div>
    {{ end}}
</nav>
<nav class="dropdown">
    {{ if eq .admin true}}
    <button class="dropbtn">Отдел качества
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/insertvendor">Добавить поставщика в базу</a>
        <a href="/showvendor">Просмотр и редактирование поставщиков</a>
        <a href="/statusinspection">Компоненты на входном контроле</a>
    </div>
    {{ else if eq .SuperIngenerQuality true}}
    <button class="dropbtn">Отдел качества
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/insertvendor">Добавить поставщика в базу</a>
        <a href="/showvendor">Просмотр и редактирование поставщиков</a>
        <a href="/statusinspection">Компоненты на входном контроле</a>
    </div>
    {{ else if eq .stockkeeperWH true}}
    <button class="dropbtn">Отдел качества
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/ininspection">Отгрузка катушек на ВК</a>
        <a href="/statusinspection">Компоненты на входном контроле</a>
        <a href="/statusinspectionforwh">Компоненты на входном контроле для прием
    </div>
    {{ else if eq .inspector true}}
    <button class="dropbtn">Отдел качества
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/statusinspection">Компоненты на входном контроле</a>
    </div>
    {{ end}}
</nav>
<!--    </div>
</h4>-->
{{end}}