<!DOCTYPE HTML>
<html>
{{template "head.html" .}}

<body>
    {{template "navbar.html" .}}
    <!--   <ul>
        <li><a class="active" href="#news">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contatc</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#modul">Modul</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
            <div class="dropdown-content">
                <a href="/page2">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
    </ul>-->
    <h1>Title {{.Title}}</h1>
    <p>Content {{.Content}}</p>

    {{template "footer.html" .}}
</body>

</html>