<!DOCTYPE HTML>
<html>
{{template "head.html" .}}

<body>
    <div class="content">
        {{template "navbar.html" .}}
        <div style="margin-top: 10px; padding-left: 40px;">
            <h4>Добро пожаловать на портал.</h4>
        </div>
        {{range .GetUser}}
        <div>
            {{.User}} {{.Username}}
        </div>
        {{end}}
        <p style="margin-left: 410px; margin-top: 40px; font-size: 40px; color: red;">
            МИССИЯ
        </p>
        <br>
        <p style="margin-left: 410px; font-size: 40px; color: white;">
            "Мы обеспечиваем жителей России и мира<br>
            <br>
            высоким уровнем безопасности<br>
            <br>
            на основе прогрессивных технологий мирового сообщества"
        </p>

        <p class="img_banner"> <img src="/images/starline_banner1.jpg" width="1080" height="300" class="img-fluid"
                alt="Цех">
        </p>



        {{template "footer.html" .}}
</body>

</html>