<!DOCTYPE HTML>
<html>
{{template "head.html" .}}

<body>
    {{template "navbar.html" .}}
    <!--    <div>
        <h3 style="margin-left: 10px;">Форма отправки катушек на ВК</h3>
    </div>
    <div class="noselect block-style hr" id="form"></div>
    <div class="noselect block-style main" id="add-condition-button">
        <button id="add-condition" class="btn btn-link addform">+ Добавить строку</button>
    </div>
    <hr />
    <div class="noselect block-style main hr" id="apply-clear-buttons">

        <button id="apply" class="btn btn-primary btn-sm apply-clear-buttons">
            Отправить данные</button>
        <button id="clear-form" class="btn btn-light btn-sm apply-clear-buttons">
            Очистить форму
        </button>
    </div>
-->
    <div class="formSendTitle">
        <h3>Форма отправки катушек на ВК</h3>
    </div>
    <div class="formSendEO" id="form"></div>
    <div>
        <button id="add-condition" class="buttonPlus">+</button>
    </div>
    <hr />
    <div>
        <button id="apply" class="button button4green">
            Отправить данные</button>
        <button id="clear-form" class="button button4red">
            Очистить форму
        </button>
    </div>
    {{template "footer.html" .}}
    <script src="/assets/js/formininspectionV2.js"></script>
</body>

</html>