<!DOCTYPE HTML>
<html>
{{template "head.html" .}}

<body>
{{template "navbar.html" .}}
<div>
    <h3 style="margin-left: 10px;">Форма отправки данных по пересчету ЕО</h3>
</div>
<div class="noselect block-style" id="form"></div>
<div class="noselect block-style main" id="add-condition-button">
    <button id="add-condition" class="btn btn-link addform">+ Добавить строку</button>
</div>
<hr />
<div class="noselect block-style main" id="apply-clear-buttons">
    <button id="apply" class="btn btn-primary btn-sm apply-clear-buttons">
        Отправить данные</button><button id="clear-form" class="btn btn-light btn-sm apply-clear-buttons">
    Очистить форму
</button>
</div>

{{template "footer.html" .}}
<script src="/assets/js/jsformidreturn.js"></script>
</body>

</html>