<form id="text" method="post" action="/operation/showdateshipmentbysapbysearchstatic">
    <!--   <div class="register-form">-->
    <!--form-group-->
    <h2>Поиск по параметрам</h2>
    <label for="user">Пользователь</label>
    <input type="text" id="lastname" name="lastname">
    <br>
    <p></p>
    <label for="date from">Дата от</label>
    <input type="date" name="date1">
    <br>
    <p></p>
    <label for="date on">Дата по</label>
    <input type="date" name="date2">
    <br>
    <p></p>
    <label for="material">Материал</label>
    <input type="number" id="material" name="material">
    <br>

    <br>
    <button class="button" type="submit">Отправить</button>
    <!--   </div>-->
</form>