<!DOCTYPE HTML>
<html>
{{template "head.html" .}}

<body>
    {{template "navbar.html" .}}
    <h4 style="margin-left:10%;">Пожалуйста, авторизуйтесь.</h4>
    <form action="/login" method="post">

        <div class="login">
            <label></label>
            <!--style="margin-left: 5%;"-->
            <input type="text" id="email" name="email" class="form-control" placeholder="почта @starline">
        </div>
        <br>
        <div class="login">
            <label></label>
            <!--style="margin-left: 5%;"-->
            <input type="password" id="password" name="password" class="form-control" placeholder="пароль">
        </div>
        <br>
        <button type="submit" class="btn btn-primary login_submit" style="margin-left: 7%;">Login</button>
    </form>

    {{template "footer.html" .}}
</body>

</html>