<ul class="nav">

    <!--    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
        <div class="dropdown-content">
            <a href="/page2">Link 1</a>
            <a href="/login">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </li>
    <li><a href="/test">Test</a></li>-->

    {{ if .LoggedIn}}

    {{ if or (.GroupP1) (.MixP1P5) }}
    <li><a class="active" href="/operation/main">StarLine П1 {{.Navbar}}</a></li>
    {{ if .Admin}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Логистика</a>
        <div class="dropdown-content">
            <a href="/operation/shipmentbysap">Отчет по отгрузке SAP</a>
            <a href="/operation/showdateshipmentbysapbysearchstatic">Отчет по отгрузке SAP по поиску
                Static</a>
            <a href="/operation/insertIDReturn">Пересчет ЕО с возвратом</a>
        </div>
    </li>
    {{end}}
    {{ if .Stockkeeper}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Логистика</a>
        <div class="dropdown-content">
            <a href="/operation/shipmentbysap">Отчет по отгрузке SAP</a>
            <a href="/operation/showdateshipmentbysapbysearchstatic">Отчет по отгрузке SAP по поиск
                Static</a>
            <!--    <a href="/showShipmentbysapbysearchDateStatic">Отчет по отгрузке SAP по поиск
                Static 2</a>-->
            <a href="/operation/insertIDReturn">Пересчет ЕО с возвратом</a>
            <!--    <a href="/showdateshipmentbysap">Полный отчет</a>
            <a href="/showdateshipmentbysapbysearch">Отчет1</a>-->
        </div>
    </li>
    {{ end}}
    {{ if .Admin}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Отдел качества</a>
        <div class="dropdown-content">
            <!--    <a href="/ininspection">Отгрузка катушек на ВК</a>
            <a href="/insertvendor">Добавить поставщика в базу</a>-->
            <a href="/operation/showusersquality">Управление пользователями отдела качества</a>
            <a href="/operation/showvendor">Просмотр и редактирование поставщиков</a>
            <a href="/operation/statusinspection">Компоненты на входном контроле</a>
            <a href="/operation/statusinspectionforwh">Компоненты на входном контроле для приема</a>
        </div>
    </li>
    {{ end}}
    {{ if .SuperIngenerQuality}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Отдел качества</a>
        <div class="dropdown-content">
            <!--    <a href="/ininspection">Отгрузка катушек на ВК</a>
            <a href="/insertvendor">Добавить поставщика в базу</a>-->
            <a href="/operation/showusersquality">Управление пользователями отдела качества</a>
            <a href="/operation/showvendor">Просмотр и редактирование поставщиков</a>
            <a href="/operation/statusinspection">Компоненты на входном контроле П1</a>

            <a href="/operation/statusinspectionmix">Компоненты на входном контроле П5</a>

        </div>
    </li>
    {{ end}}
    {{ if .StockkeeperWH}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Отдел качества</a>
        <div class="dropdown-content">
            <!--    <a href="/ininspection">Отгрузка катушек на ВК</a>-->
            <a href="/operation/statusinspection">Компоненты на входном контроле</a>
            <!--   <a href="/statusinspectionforwh">Компоненты на входном контроле для приема</a>-->
        </div>
    </li>
    {{ end}}
    {{ if .Inspector}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Отдел качества</a>
        <div class="dropdown-content">
            <a href="/operation/statusinspection">Компоненты на входном контроле</a>
        </div>
    </li>
    {{ end}}
    {{ if .IngenerQuality}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Отдел качества</a>
        <div class="dropdown-content">
            <a href="/operation/statusinspection">Компоненты на входном контроле П1</a>
            <a href="/operation/statusinspectionmix">Компоненты на входном контроле П5</a>
        </div>
    </li>
    {{ end}}
    {{ if .WarehouseManager}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Отдел качества</a>
        <div class="dropdown-content">
            <a href="/operation/showuserswarehouse">Управление пользователями сотрудников склада</a>
            <!--    <a href="/ininspection">Отгрузка катушек на ВК</a>-->
            <a href="/operation/statusinspection">Компоненты на входном контроле</a>
            <!--   <a href="/statusinspectionforwh">Компоненты на входном контроле для приема</a>-->
        </div>
    </li>
    {{ end}}


    {{ if .Admin}}
    <div style="margin-top: 10px;">
        <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
        <a href="#modal-10" class="js-modal-open linkblack">Поиск по базе Входного Контроля П5</a>
    </div>
    {{end}}
    {{ if .Stockkeeper}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Поиск по базе ВК</a>
        <div class="dropdown-content">
            <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
            <a href="#modal-10" class="js-modal-open linkblack">Поиск по базе Входного Контроля П5</a>
        </div>
    </li>
    {{end}}
    {{ if .SuperIngenerQuality}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Поиск по базе ВК</a>
        <div class="dropdown-content">
            <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
            <a href="#modal-10" class="js-modal-open linkblack">Поиск по базе Входного Контроля П5</a>
        </div>
    </li>
    <!--    <div style="margin-top: 10px;">
        <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
    </div>
    <div style="margin-top: 10px;">
        <a href="#modal-10" class="js-modal-open linkblack">Поиск по базе Входного Контроля П5</a>
    </div>-->
    {{end}}
    {{ if .StockkeeperWH}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Поиск по базе ВК</a>
        <div class="dropdown-content">
            <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
            <a href="#modal-10" class="js-modal-open linkblack">Поиск по базе Входного Контроля П5</a>
        </div>
    </li>
    {{end}}
    {{ if .IngenerQuality}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Поиск по базе ВК</a>
        <div class="dropdown-content">
            <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
            <a href="#modal-10" class="js-modal-open linkblack">Поиск по базе Входного Контроля П5</a>
        </div>
    </li>
    {{end}}
    {{ if .Inspector}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Поиск по базе ВК</a>
        <div class="dropdown-content">
            <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
            <a href="#modal-10" class="js-modal-open linkblack">Поиск по базе Входного Контроля П5</a>
        </div>
    </li>
    {{end}}
    {{ if .WarehouseManager}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Поиск по базе ВК</a>
        <div class="dropdown-content">
            <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
            <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
        </div>
    </li>
    {{end}}
    {{end}}

    {{ if .GroupP5}}
    <li><a class="active" href="/operation/main">StarLine П5 {{.Navbar}}</a></li>
    {{ if .SuperIngenerQuality}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Отдел качества</a>
        <div class="dropdown-content">
            <!--    <a href="/ininspection">Отгрузка катушек на ВК</a>
            <a href="/insertvendor">Добавить поставщика в базу</a>-->
            <a href="/operation/showusersquality">Управление пользователями отдела качества</a>
            <a href="/operation/showvendor">Просмотр и редактирование поставщиков</a>
            <a href="/operation/statusinspection">Компоненты на входном контроле П5</a>
            <a href="/operation/statusinspectionmix">Компоненты на входном контроле П1</a>
        </div>
    </li>
    {{ end}}
    {{ if .Inspector}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Отдел качества</a>
        <div class="dropdown-content">
            <a href="/operation/statusinspection">Компоненты на входном контроле</a>

        </div>
    </li>
    {{ end}}
    {{ if .IngenerQuality}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Отдел качества</a>
        <div class="dropdown-content">
            <a href="/operation/statusinspection">Компоненты на входном контроле П5</a>
            <a href="/operation/statusinspectionmix">Компоненты на входном контроле П1</a>
        </div>
    </li>
    {{ end}}
    {{ if .WarehouseManager}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Отдел качества</a>
        <div class="dropdown-content">
            <a href="/operation/showuserswarehouse">Управление пользователями сотрудников склада</a>
            <!--    <a href="/ininspection">Отгрузка катушек на ВК</a>-->
            <a href="/operation/statusinspection">Компоненты на входном контроле</a>
            <!--   <a href="/statusinspectionforwh">Компоненты на входном контроле для приема</a>-->
        </div>
    </li>
    {{ end}}
    {{ if .StockkeeperWH}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Отдел качества</a>
        <div class="dropdown-content">
            <!--    <a href="/ininspection">Отгрузка катушек на ВК</a>-->
            <a href="/operation/statusinspection">Компоненты на входном контроле</a>
            <!--   <a href="/statusinspectionforwh">Компоненты на входном контроле для приема</a>-->
        </div>
    </li>
    {{ end}}

    {{ if .Stockkeeper}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Поиск по базе ВК</a>
        <div class="dropdown-content">
            <a href="#modal-10" class="js-modal-open linkblack">Поиск по базе Входного Контроля П5</a>
            <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
        </div>
    </li>
    {{end}}
    {{ if .SuperIngenerQuality}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Поиск по базе ВК</a>
        <div class="dropdown-content">
            <a href="#modal-10" class="js-modal-open linkblack">Поиск по базе Входного Контроля П5</a>
            <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
        </div>
    </li>
    {{end}}
    {{ if .StockkeeperWH}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Поиск по базе ВК</a>
        <div class="dropdown-content">
            <a href="#modal-10" class="js-modal-open linkblack">Поиск по базе Входного Контроля П5</a>
            <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
        </div>
    </li>
    {{end}}
    {{ if .IngenerQuality}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Поиск по базе ВК</a>
        <div class="dropdown-content">
            <a href="#modal-10" class="js-modal-open linkblack">Поиск по базе Входного Контроля П5</a>
            <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
        </div>
    </li>
    {{end}}
    {{ if .Inspector}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Поиск по базе ВК</a>
        <div class="dropdown-content">
            <a href="#modal-10" class="js-modal-open linkblack">Поиск по базе Входного Контроля П5</a>
            <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
        </div>
    </li>
    {{end}}
    {{ if .WarehouseManager}}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Поиск по базе ВК</a>
        <div class="dropdown-content">
            <a href="#modal-10" class="js-modal-open linkblack">Поиск по базе Входного Контроля П5</a>
            <a href="#modal-3" class="js-modal-open linkblack">Поиск по базе Входного Контроля П1</a>
        </div>
    </li>
    {{end}}
    {{end}}

    <div style="margin-left:800px; margin-top: 10px;">
        Пользователь: {{.User}} {{.Username}}
    </div>

    <li class="out"><a href="/logout">Выход</a></li>
    {{ else}}
    <li><a class="active" href="/operation/main">StarLine {{.Navbar}}</a></li>
    <li><a href="/login">Авторизация</a></li>
    <li style="margin-left:70%;"><a href="/users">Регистрация</a></li>
    <li><a href="/updatepass">Обновить пароль</a></li>
    {{ end}}

    <div class="modal modal--l" id="modal-3">
        <div class="modal__dialog">
            <div class="modal__dialog-header">
                <div class="modal__dialog-header-content">
                    <h3>Поиск по базе передачи компонентов на ВК П1</h3>
                </div>
                <div class="modal__dialog-header-close">
                    <button class="js-modal-close modal__dialog-header-close-btn"><span>&times;</span></button>
                </div>
            </div>
            <div class="modal__dialog-body">
                <!--    <div>modal__dialog-body</div>
        <button id="js-add-content-temp">Add content</button>-->
                <!--   <div class="formSendTitle">
            <h3>Форма отправки катушек на ВК</h3>-->

                <form id="text" method="post" action="/operation/historyinspection">
                    <!--   <div class="register-form">-->
                    <!--form-group-->
                    <h2>Поиск по параметрам</h2>
                    <label for="date from">Дата от</label>
                    <input type="date" class="form-control" style="width: 174px;" name="date1" placeholder="Дата от">
                    <br>
                    <p></p>
                    <label for="date on">Дата по</label>
                    <input type="date" class="form-control" style="width: 174px;" name="date2" placeholder="Дата от">
                    <br>
                    <p></p>
                    <label for="material"></label>
                    <input type="number" class="form-control" style="margin-left: 78px;" id="material" name="material"
                        placeholder="Материал">
                    <br>
                    <p></p>
                    <label for="eo"></label>
                    <input type="number" class="form-control" style="margin-left: 78px;" id="eo" name="eo"
                        placeholder="ЕО компонента">
                    <br>

                    <br>
                    <button class="btn btn-primary--s" type="submit">Отправить</button>
                    <!--   </div>-->
                </form>
            </div>
            <div class="modal__dialog-footer">
                <button class="js-modal-close modal__dialog-footer-close-btn">Закрыть</button>
            </div>
        </div>
    </div>

    <div class="modal modal--l" id="modal-10">
        <div class="modal__dialog">
            <div class="modal__dialog-header">
                <div class="modal__dialog-header-content">
                    <h3>Поиск по базе передачи компонентов на ВК П5</h3>
                </div>
                <div class="modal__dialog-header-close">
                    <button class="js-modal-close modal__dialog-header-close-btn"><span>&times;</span></button>
                </div>
            </div>
            <div class="modal__dialog-body">
                <!--    <div>modal__dialog-body</div>
        <button id="js-add-content-temp">Add content</button>-->
                <!--   <div class="formSendTitle">
            <h3>Форма отправки катушек на ВК</h3>-->

                <form id="text" method="post" action="/operation/historyinspectionp5">
                    <!--   <div class="register-form">-->
                    <!--form-group-->
                    <h2>Поиск по параметрам</h2>
                    <label for="date from">Дата от</label>
                    <input type="date" class="form-control" style="width: 174px;" name="date1" placeholder="Дата от">
                    <br>
                    <p></p>
                    <label for="date on">Дата по</label>
                    <input type="date" class="form-control" style="width: 174px;" name="date2" placeholder="Дата от">
                    <br>
                    <p></p>
                    <label for="material"></label>
                    <input type="number" class="form-control" style="margin-left: 78px;" id="material" name="material"
                        placeholder="Материал">
                    <br>
                    <p></p>
                    <label for="eo"></label>
                    <input type="number" class="form-control" style="margin-left: 78px;" id="eo" name="eo"
                        placeholder="ЕО компонента">
                    <br>

                    <br>
                    <button class="btn btn-primary--s" type="submit">Отправить</button>
                    <!--   </div>-->
                </form>
            </div>
            <div class="modal__dialog-footer">
                <button class="js-modal-close modal__dialog-footer-close-btn">Закрыть</button>
            </div>
        </div>
    </div>
</ul>

<!--<script src="/assets/js/modal.js" type="text/javascript"></script>-->