<div id="overlay" class="overlay" data-close=""></div>

<div class="modal-outer">
    <span class="closer" data-close=""></span>
    <div id="modal_1" class="dlg-modal">
        <div class="page-wrapper">
            <div class="left-panel-wrapper-header">
                <h3>
                    <font color="black" style="margin-left: 120px;">Oбщее количество:</font>
                </h3>
            </div>
            <div class="content-wrapper-header">
                <h3>
                    <font color="black" style="margin-left: 20px;">Задержано:</font>
                </h3>
            </div>
            <div class="right-panel-wrapper-header">
                <h3>
                    <font color="black" style="margin-right: 200px;">Проверить:</font>
                </h3>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="left-panel-wrapper">
                <!--    <font color="black" style="background: white; margin: auto;">Oбщее количество:</font>-->
                <div class="left-panel">
                    <table>
                        <tr>
                            <th>Наименование</th>
                            <th>Количество</th>
                        </tr>
                        {{ range.GetStatic}}
                        <tr>
                            <td>{{ .NameDebitor}}</td>
                            <td>{{ .Count}}</td>
                        </tr>
                        {{ end}}
                    </table>
                </div>
            </div>

            <div class="content-wrapper">
                <!--    <font color="black" style="background: white; margin: auto;">Задержано:</font>-->
                <div class="content">
                    <table>
                        <tr>
                            <th>Наименование</th>
                            <th>Количество</th>
                        </tr>
                        {{ range .HoldCountDebitor}}
                        <tr>
                            <td>{{ .NameDebitor}}</td>
                            <td>{{ .Count}}</td>
                        </tr>
                        {{ end}}
                    </table>
                </div>
            </div>

            <div class="right-panel-wrapper">
                <!--    <font color="black" style="background: white; margin: auto;">Проверить:</font>-->
                <div class="right-panel">
                    <table>
                        <tr>
                            <th>Наименование</th>
                            <th>Количество</th>
                        </tr>
                        {{ range .NotVerifyDebitor}}
                        <tr>
                            <td>{{ .NameDebitor}}</td>
                            <td>{{ .Count}}</td>
                        </tr>
                        {{ end}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>