<!DOCTYPE HTML>
<html>
{{template "head.html" .}}

<body>
    {{template "navbar.html" .}}
    <div class="container">
        {{ if eq .WarehouseManager true}}

        <div class="wrap2">
            <a href="#modal-5" class="js-modal-open link">Добавить сотрудника</a>
        </div>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for .." title="Type in a name">
        <br>
        <table id="myTable" onload="alternate('thetable')">
            <caption style="color: white; font-size: 22px;">Сотрудники склада</caption>
            <button onclick="exportTableToCSV('export_shipment_sap.csv')"
                style="margin-left:0px; width: 300px;">Экспортировать таблицу в csv файл</button>
            <thead>
                <tr id="fontsize-showinspection">
                    <th scope="col" onclick="sortTable(0)">№ ID</th>
                    <!--<th>ID</th>-->
                    <th scope="col" onclick="sortTable(1)">email</th>
                    <!--Material-->
                    <th scope="col" onclick="sortTable(2)">Имя</th>
                    <!--Qty-->
                    <th scope="col" onclick="sortTable(3)">Фамилия</th>
                    <!--ShipmentDate-->
                    <!--    <th scope="col" onclick="sortTable(2)">ShipmentDate2</th>-->
                    <th scope="col" onclick="sortTable(4)">Позиция</th>
                    <th scope="col" onclick="sortTable(5)">Группа</th>

                    <th scope="col" onclick="sortTable(6)">Табель</th>

                </tr>
            </thead>
            <tbody id="thetable">
                {{ range .GET}}
                <tr class="header" id="fontsize-showinspection">
                    <!--<td>{{.ID }}</td>-->
                    <td>
                        {{.ID}}
                    </td>
                    <td style="font-size: 100%;">
                        {{.Email}}
                    </td>
                    <td>
                        {{.FirstName}}
                    </td>
                    <td>
                        {{.LastName}}
                    </td>
                    <td>
                        {{.Role}}
                    </td>
                    <td>
                        {{.Groups}}
                    </td>
                    <td>
                        {{.Tabel}}
                    </td>
                    <td>
                        <!-- <a href="/updateuserquality/{{.ID}}" class="btnfortable btn-primary">Edit </a>-->
                        <a href="#modal-6" onclick="editUserWarehouse({{.ID}});"
                            class="js-modal-open btnfortable btn-primary">Edit</a>
                        <a href="/deleteuserwarehouse/{{.ID}}" class="btnfortable btn-danger confirmation"
                            style="margin-left: 10px;">
                            Del</a>
                    </td>
                </tr>
                {{ end}}
            </tbody>
        </table>
        {{ end}}

        {{ if eq .Admin true}}

        <div class="wrap2">
            <a href="#modal-5" class="js-modal-open link">Добавить сотрудника</a>
        </div>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for .." title="Type in a name">
        <br>
        <table id="myTable" onload="alternate('thetable')">
            <caption style="color: white; font-size: 22px;">Сотрудники склада</caption>
            <button onclick="exportTableToCSV('export_shipment_sap.csv')"
                style="margin-left:0px; width: 300px;">Экспортировать таблицу в csv файл</button>
            <thead>
                <tr id="fontsize-showinspection">
                    <th scope="col" onclick="sortTable(0)">№ ID</th>
                    <!--<th>ID</th>-->
                    <th scope="col" onclick="sortTable(1)">email</th>
                    <!--Material-->
                    <th scope="col" onclick="sortTable(2)">Имя</th>
                    <!--Qty-->
                    <th scope="col" onclick="sortTable(3)">Фамилия</th>
                    <!--ShipmentDate-->
                    <!--    <th scope="col" onclick="sortTable(2)">ShipmentDate2</th>-->
                    <th scope="col" onclick="sortTable(4)">Позиция</th>
                    <th scope="col" onclick="sortTable(5)">Группа</th>
                    <th scope="col" onclick="sortTable(6)">Табель</th>

                </tr>
            </thead>
            <tbody id="thetable">
                {{ range .GET}}
                <tr class="header" id="fontsize-showinspection">
                    <!--<td>{{.ID }}</td>-->
                    <td>
                        {{.ID}}
                    </td>
                    <td style="font-size: 100%;">
                        {{.Email}}
                    </td>
                    <td>
                        {{.FirstName}}
                    </td>
                    <td>
                        {{.LastName}}
                    </td>
                    <td>
                        {{.Role}}
                    </td>
                    <td>
                        {{.Groups}}
                    </td>
                    <td>
                        {{.Tabel}}
                    </td>
                    <td>
                        <a href="#modal-6" onclick="editUserWarehouse({{.ID}});"
                            class="js-modal-open btnfortable btn-primary">Edit</a>
                        <a href="/deleteuserwarehouse/{{.ID}}" class="btnfortable btn-danger confirmation"
                            style="margin-left: 10px;">
                            Del</a>
                    </td>
                </tr>
                {{ end}}
            </tbody>
        </table>
        {{ end}}

        <div class="modal modal--l" id="modal-6">
            <div class="modal__dialog">
                <div class="modal__dialog-header">
                    <div class="modal__dialog-header-content">
                        <h3>Редактирование данных сотрудника</h3>
                    </div>
                    <div class="modal__dialog-header-close">
                        <button class="js-modal-close modal__dialog-header-close-btn">
                            <span>&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal__dialog-body">
                </div>
                <div class="modal__dialog-footer">
                    <button class="js-modal-close modal__dialog-footer-close-btn">Close</button>
                </div>

            </div>
        </div>

        <div class="modal modal--l" id="modal-5">
            <div class="modal__dialog">
                <div class="modal__dialog-header">
                    <div class="modal__dialog-header-content">
                        <h3>Форма добавления сотрудника качества</h3>
                    </div>
                    <div class="modal__dialog-header-close">
                        <button class="js-modal-close modal__dialog-header-close-btn">
                            <span>&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal__dialog-body">
                    <div class="noselect block-style" id="form"></div>
                    <div class="noselect block-style main" id="add-condition-button">
                        <button id="add-condition" class="btn btn-link addform">+ Добавить строку</button>
                    </div>
                    <hr />
                    <div class="noselect block-style main" id="apply-clear-buttons">
                        <button id="apply" class="btn btn-primary btn-sm apply-clear-buttons">
                            Отправить данные</button>
                        <button id="clear-form" class="btn btn-light btn-sm apply-clear-buttons">
                            Очистить форму
                        </button>
                    </div>

                </div>
                <div class="modal__dialog-footer">
                    <button class="js-modal-close modal__dialog-footer-close-btn">Close</button>
                </div>
            </div>
        </div>


    </div>

    {{template "footer.html" .}}
    <script src="/assets/js/forminsertuserswarehouse.js"></script>
    <script src="/assets/js/modal.js" type="text/javascript"></script>
</body>

</html>