@font-face {
    font-family: CrimsonPro;
    src: url("/assets/fonts/CrimsonPro-BoldItalic.ttf"); 
    
}

* {
    margin: 0;
    box-sizing: border-box;
 
}

body {
    font-family: CrimsonPro;
    background-color:rgba(12, 133, 231, 0.533);
  //  margin-top:120px;
  //  width: auto;
  
     .section_login {
        background-color: whitesmoke;
        display: flex;
        justify-content: space-between;
        margin-top:120px;
        .section_login_autorization {
        
        
       // margin-top: 120px;
      // background-color: whitesmoke;
        
        justify-content: space-between;
        margin-left: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 1500px;
          .user_name {
            font-size: 20pt;
                     }
        }
        .section_login_registration {
            margin-right: 280px;
            margin-top: 10px;
        }
    }
    

    header {
      //  margin: auto;
        margin-top: 10px;
        background-color: yellow;
        text-align: center;
    }

    .register-form {
        margin-left: 600px;
        margin-top: 200px;
        justify-content: space-between;
        font-size: 20pt;

        
    }
    .register-field_user {
        margin-left: 10px;
        }
    .register-field_pass{
        margin-left: 100px;
    }    
    .register-field_name {
        margin-left: 142px;
    }
    .register-field_lastname {
        margin-left: 76px;
    }

    
}

.fig2 {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 1000px;
    }

.img_banner {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 500px;
    }    

.body_start {
        background-color: rgb(21, 189, 231);
    }

.header_body_start {
    margin-top: 10px;
        background-color: yellow;
        text-align: right;
        display: flex;
        justify-content: space-between;
}   

#myInput {
 /* background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, .myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, .myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

th {
  cursor: pointer;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.box {
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border:rgb(21, 189, 231);
    background:whitesmoke;
    color: rgb(21, 189, 231);
    box-shadow: rgba(12, 133, 231, 0.533);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
}